<head>
  <link rel="stylesheet" href="/css/profile.css">
</head>

<!-- profile top; search profiles, name/avatar, # of saved tracks -->
<section class="row justify center" id="profile-row">
  <div class="card-column">
    <form id="profile-form" class="profile-form">
      <input id="search-profiles" class="form-input w-100" type="text" placeholder="Search profiles">
      <button class="btn btn-info btn-block" id="profile-search">Search</button>
    </form>
  </div>
  <div class="card-column">
    <div id="profile-container">
      <h2 class="profile-name">{{name}}</h2>
      <img class="profile-pic" src={{avatar.url}} width="200" height="200" alt="ProfileImageUpload">
      </img>
    </div>
  </div>
  <div class="card-column">
    <h2 class="profile-name">
      {{#if tracks.length}}
      {{tracks.length}} Song(s)
      <br>
      <a class="btn btn-primary btn-lg mt-4" href="/tracks" role="button" id="browse-library">Browse Library</a>
      {{else}}
      <a class="btn btn-primary btn-lg mt-4" href="/tracks" role="button" id="browse-library">Start Browsing</a>
      {{/if}}
    </h2>
  </div>
</section>

<!-- saved tracks append here from onetrack_db -->
<main>
  <section class="row justify-center" id="cardContainer">

    {{#if tracks.length}}
    {{#each tracks as |track|}}

    <div class="card-column">
      <figure class="card code-card" id="card-figure">
        <h2 class="card-header">{{track.title}}</h2>
        <div class="card-body">
          <img id="album" src="{{track.album_image}}" width="200" height="200"></img>
          <p id="artist">{{track.artist}}</p>
          <audio controls id="audio">
            <source src={{track.url}} type="audio/mpeg">
          </audio>
        </div>
        <button type="button" class="btn btn-info" data_id="{{track.id}}" id="delete-track">-1</button>
      </figure>
    </div>

    {{/each}}
    {{/if}}
    
  </section>
</main>

<script src="./js/profile.js"></script>